<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta charset="UTF-8">
    <title>cart</title>
    <script th:src="@{/script.js}"></script>
</head>
<body>
<h2 align="center">Shopping Cart</h2>
<div class="container">
    <form th:action="@{/showUserForm}" th:object="${orderDto}" method="get">
        <table class="table" border="1px" id="example">
            <thead>
            <tr>
                <th>SNo</th>
                <th>Product Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr th:each="item : ${itemsList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td><img th:src="${item.productThumbNailImage}" alt="Image not found" height="90px" width="75px"></td>
                <td class="price" th:text="${item.price}"><input type="hidden" name="${product.price}"></td>
                <td><input type="number" name="quantity" id="quantity" class="quantity" value="1" min="1"
                           th:max="${item.maxQuantityAllowed}" required="required"/></td>
                <td><input class="total" id="total" required="required" readonly/></td>
                <td><a th:href="@{/deleteProduct/{id}(id=${item.id})}"><i class="fas fa-trash-alt"
                                                                          style="font-size: 24px; color: black"></i></a>
                </td>

            </tr>
            <input type="hidden" th:field="*{id}">
            <tr>
                <td colspan="5"></td>
                <td>Sub Total :</td>
                <td><input id="subtotal" name="subTotal" readonly></input></td>
            </tr>

            <tr>
                <td colspan="5"></td>
                <td>Total Tax :</td>
                <td><input id="totaltax" name="totalTax" readonly></input></td>
            </tr>

            <tr>
                <td colspan="5"></td>
                <td>Grand Total :</td>
                <td><input id="grandtotal" name="grandTotal" readonly></input></td>
            </tr>
            </tbody>
        </table>
        <div>
            <a href="/" class="btn btn-primary">Continue Shopping</a>
            <input type="submit" value="Next" class="btn btn-success" onclick="return checkFields()"/>
            <a href="#" class="btn btn-dark" onclick="calculations()">Update Cart</a>
        </div>
    </form>
</div>
</body>
</html>