<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">We received your purchase request;<br/> we'll be in touch shortly!</p>
    <hr>
    <p>
        Having trouble? <a href="#">Contact us</a>
    </p>
    <p class="lead">
        <a href="/" class="btn btn-primary">Continue to homepage</a>
    </p>
</div>
</body>
</html>